<div style="width: 100vw; margin: 0 auto;">
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Error_404.png?v=1594305228" alt="Error 404" style="width: 100vw; margin: 0 auto;">
</div>
