<div id="author-bios">
  {% if article.author == 'Becky Cranham' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Becky_1200x1200_Transparent.png?v=1588247074" style="max-width: 200px;">
  <h3>Becky Cranham</h3>
  <p>I set up PlanBee in 2009 to help redress the teacher workload balance. I love finding new ways to make teachers' lives easier and writing about educational ideas and issues for both teachers and parents.</p>
  <p><strong>In the News</strong></p>
  <p><a href="https://www.chroniclelive.co.uk/news/north-east-news/14-fun-educational-things-kids-18016000.amp" target="_blank">'14 fun but educational things kids can do at home during school closures'</a> – Chronicle Live
  <p><a href="https://www.yorkshireeveningpost.co.uk/education/storytelling-week-fun-all-1368231" target="_blank">'Storytelling Week fun for all'</a> – Yorkshire Post</p>
  <p><strong>Twitter:</strong> <a href="https://twitter.com/planbeebecky" target="_blank">@planbeebecky</a></p>

  {% elsif article.author == 'Oli Ryan' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Oli_1200x1200_Transparent.png?v=1588247071" style="max-width: 200px;">
  <h3>Oli Ryan</h3>
  <p>I'm a former UK primary school teacher, now writing for planbee.com about issues affecting teachers, schools and pupils.</p>
  <p><a href="https://www.telegraph.co.uk/news/2019/03/08/letting-politicians-scapegoat-schools-soaring-knife-crime/" target="_blank">'Why are we letting politicians scapegoat our schools for soaring knife crime?'</a> – The Telegraph</p>
  <p><a href="https://www.tes.com/news/wellbeing-9-ways-avoid-illness-christmas" target="_blank">'Wellbeing: 9 ways to avoid illness before Christmas'</a> – tes.com</p>
  <p><strong>In the News</strong></p>
  <p><a href="https://metro.co.uk/2020/05/06/mums-are-homeschooling-lockdown-teaching-still-considered-womens-work-12663148/" target="_blank">'Mums are doing majority of homeschooling in lockdown as teaching still considered ‘women’s work’</a> - Metro
  <p><a href="https://www.getsurrey.co.uk/news/uk-world-news/teachers-concerned-primary-pupils-use-17818133" target="_blank">'Teachers concerned about primary pupils' use of social media'</a> - Surrey Live</p>
  <p><a href="https://www.yorkshireeveningpost.co.uk/education/put-environment-curriculum-642826" target="_blank">'Put Environment on Curriculum'</a> - Yorkshire Evening Post
  <p><strong>Twitter:</strong> <a href="https://twitter.com/planbeeoli">@planbeeoli</a></p>

  {% elsif article.author == 'Catherine Lynch' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Catherine_1200x1200_Transparent.png?v=1588247074" style="max-width: 200px;">
  <h3>Catherine Lynch</h3>
  <p>Hi! I'm a former primary school teacher and resource creator at PlanBee. I'm a qualified Play Therapist and I am interested in mental health and wellbeing in schools and government education policy. I enjoy creating practical lessons, especially topic lessons that have a science or English focus.</p>
  <p><strong>In the News</strong></p>
  <p><a href="https://metro.co.uk/2020/04/22/psychologist-advises-help-kids-cope-bereavement-coronavirus-12591964/" target="_blank">'Teacher advises on how to help kids cope with bereavement during coronavirus’</a> - Metro
  <p><a href="https://www.scotsman.com/read-this/ten-ways-improve-your-childs-wellbeing-during-times-crisis-2851289" target="_blank">'Ten ways to improve your child's wellbeing during times of crisis'</a> - The Scotsman</p>
  <p><strong>Twitter:</strong> <a href="https://twitter.com/planbeecath" target="_blank">@planbeecath</a></p>

  {% elsif article.author == 'Emma Wooldridge' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Emma_1200x1200_Transparent.png?v=1588247071" style="max-width: 200px;">
  <h3>Emma Wooldridge</h3>
  <p>Hey! I joined PlanBee as a resource creator in 2020 after teaching in a primary school for eight years. I love to write about education and enjoy creating fun English lessons linked to my favourite children's authors! I am also a qualified Gymnastics coach and love anything sport-related.</p>
  <p><strong>Twitter:</strong> <a href="https://twitter.com/planbeeemma" target="_blank">@planbeeemma</a></p>

  {% elsif article.author == 'Abby Harper' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Abby_1200x1200_Transparent.png?v=1588247073" style="max-width: 200px;">
  <h3>Abby Harper</h3>
  <p>Hey! I joined PlanBee as a resource creator in 2017 after teaching in a primary school for five years. I’m interested in creative and engaging ways to teach writing, reading and grammar and enjoy planning creative lessons especially Art and English lessons.</p>
  <p><strong>Twitter:</strong> <a href="https://twitter.com/planbeeabby" target="_blank">@planbeeabby</a></p>

  {% elsif article.author == 'Laura Steele' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Laura_1200x1200_Transparent.png?v=1588247074" style="max-width: 200px;">
  <h3>Laura Steele</h3>
  <p>Hi! After being a primary school teacher for eleven years, I became a Resource Creator at PlanBee in 2016. I love being able to take my time to create lessons from scratch, and especially enjoy designing Art schemes!</p>

  {% elsif article.author == 'Josephine Hollister' %}
  <br>
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Jo_1200x1200_Transparent.png?v=1588247074" style="max-width: 200px;">
  <h3>Josephine Hollister</h3>
  <p>Josephine bounced her way into PBHQ in 2018, ready to take over the admin and get everything ship-shape. She now spends her days helping to take care of customers, processing invoices and getting all the finished resources up onto the website. Oh, and talking about food. She does that a lot.</p>

  {% endif %}
</div>
