<div class="contact-us-row">
  <div class="contact-us-column"><img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Contact_L_1251x2251_150ppi.png?v=1594981450" alt="Contact Us at PlanBee" style="max-width: 100%;" /></div>
  <div class="contact-us-column-middle">
