<section>
  <div style="margin: auto; max-width: 1400px; padding: 25px; text-align: center;">
    <p><strong>Can't log in?</strong> We've just updated our website. To keep your account secure you must <strong>reset your password</strong>. Here's how:</p>
    <img style="border-style: solid; border-width: 1px; border-color: grey; border-radius: 3px; box-shadow: 5px 5px 5px grey; max-width: 100%;" src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/how-to-reset-password-desktop.gif?v=1596007749" />
  </div>
</section>
