<!-- TrustBox widget - Product Mini -->
<div class="trustpilot-widget" style="min-height: 24px;" data-locale="en-GB" data-template-id="54d39695764ea907c0f34825" data-businessunit-id="59ae9f640000ff0005aa75d1" data-style-height="24px" data-style-width="25%" data-theme="light" data-sku="{% assign current_variant = product.selected_or_first_available_variant %}{{ current_variant.sku }}" data-name="{{ product.title }}">
  <a href="https://uk.trustpilot.com/review/www.planbee.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
