<div style="width: 100vw; margin: 0 auto;">
  <img src="https://cdn.shopify.com/s/files/1/0338/5478/3626/files/Join_us.png?v=1594723156" alt="Join PlanBee" style="width: 100vw; margin: 0 auto;">
</div>
