<section>
  <div style="max-width: 1400px; display: block; margin: 0 auto; padding: 0px 25px 0px 25px; text-align: center;">
    <p style="font-size: 0.9375rem;">Interested in <strong>unlimited</strong> access to the whole library of resources? <a href="{{ store.url }}/products/platinum-membership" target="_self">Discover how a Platinum membership can benefit your school</a>.</p>
  </div>
</section>
