/* CUSTOM CLASSES */

/* Styles for the blog tag cloud */
.blog-stories-tags {
  display: inline-block;
  max-width: 1400px;
  li {
    display: inline-block;
    padding: 0 1rem;
    vertical-align: middle;
  }
}

.blog-stories-tags > a:link {
    text-decoration: none;
    color: #02c3e7;
}

.blog-stories-tags > a:visited {
    text-decoration: none;
    color: #02c3e7;
}

.blog-stories-tags > a:active {
    text-decoration: none;
    color: #02c3e7;
}

.blog-stories-tags > a:hover {
    text-decoration: none;
    color: #02a9c7;
}

.tag-alpha {
  font-size: .707em
}
.tag-beta {
  font-size: 1em
}
.tag-gamma {
  font-size: 1.414em
}
.tag-delta {
  font-size: 1.999em
}
.tag-epsilon {
  font-size: 2.827em
}
.tag-zeta {
  font-size: 3.998em
}

/* Styles for the old product section, indicating a newer version is available. */
.newer_product_available {

  max-width: 1350px;
  margin: auto;
  padding: 0px 25px 0px 25px;
  border-style: dashed;
  border-width: 1px;
  border-color: #02c3e7;

  p {
    text-align: center;
  }

  a:link, a:visited, a:active {
    text-decoration: none;
    color: #02c3e7;
  }

  a:hover {
    text-decoration: none;
    color: #0296b1;
  }

}

/* Styles for Contact Us page. */
.contact-us-row {
  display: flex;
}

.contact-us-row-bottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  top: 4px;
}

.contact-us-column {
  flex: 33.3333%
}

.contact-us-column-middle {
  flex-grow: 0;
  flex-shrink 0;
}

@media screen and (max-width: 600px) {
  .contact-us-column {
    display: none;
  }
}

.site-footer-wrapper {
  margin-top: 0px;
}

/* OVERRIDES */

/* Product page: set min-height for product title; hide quantity selector and resize add to cart button; . */
h1.product-title {
    min-height: 66px;
}

.product-form--atc-qty.form-fields--qty {
    display: none;
}

button.product-form--atc-button.mdc-ripple-surface.mdc-ripple-upgraded {
    margin: 0;
    width: 100%;
}
