/* ---------------------------- CUSTOM IDs -------------------------------- */

#myDownloadsInput {
background-image: url('https://cdn.shopify.com/s/files/1/0338/5478/3626/files/pb-search-icon-20px.png?v=1607509867'); /* Add a search icon to input */
background-position: 10px 12px; /* Position the search icon */
background-repeat: no-repeat; /* Do not repeat the icon image */
width: 100%; /* Full-width */
font-size: 16px; /* Increase font-size */
padding: 12px 20px 12px 40px; /* Add some padding */
border: 1px solid #ddd; /* Add a grey border */
border-radius: 5px;
margin-bottom: 12px; /* Add some space below the input */
}

#myDownloadsTable {
border-collapse: collapse; /* Collapse borders */
width: 100%; /* Full-width */
border: 1px solid #ddd; /* Add a grey border */
font-size: 18px; /* Increase font-size */
}

#myDownloadsTable th, #myDownloadsTable td {
text-align: left; /* Left-align text */
padding: 12px; /* Add padding */
}

#myDownloadsTable td {
  vertical-align: top;
}

#myDownloadsTable tr:first-child {
/* Add a bottom border to all table rows */
border-bottom: 1px solid #ddd;
}

#myDownloadsTable tr.header, #myDownloadsTable tr:hover {
/* Add a grey background color to the table header and on hover */
background-color: #f1f1f1;
}

#myDownloadsTable a {
  text-decoration: none;
  color: #02c3e7;
}

#myDownloadsTable a:hover {
  color: #009eba;
}

@media (max-width: 600px) {
  #myDownloadsTable td {
    display: block;
  }
}

@media (max-width: 600px) {
  #myDownloadsTable th {
    display: none;
  }
}

/* ---------------------------- CUSTOM CLASSES ---------------------------- */

/* Styles for the blog tag cloud */
.blog-stories-tags {
  display: inline-block;
  max-width: 1400px;
  li {
    display: inline-block;
    padding: 0 1rem;
    vertical-align: middle;
  }
}

.blog-stories-tags > a:link {
    text-decoration: none;
    color: #02c3e7;
}

.blog-stories-tags > a:visited {
    text-decoration: none;
    color: #02c3e7;
}

.blog-stories-tags > a:active {
    text-decoration: none;
    color: #02c3e7;
}

.blog-stories-tags > a:hover {
    text-decoration: none;
    color: #02a9c7;
}

.tag-alpha {
  font-size: .707em
}
.tag-beta {
  font-size: 1em
}
.tag-gamma {
  font-size: 1.414em
}
.tag-delta {
  font-size: 1.999em
}
.tag-epsilon {
  font-size: 2.827em
}
.tag-zeta {
  font-size: 3.998em
}

/* Styles for the old product section, indicating a newer version is available. */
.newer_product_available {

  max-width: 1350px;
  margin: auto;
  padding: 0px 25px 0px 25px;
  border-style: dashed;
  border-width: 1px;
  border-color: #02c3e7;

  p {
    text-align: center;
  }

  a:link, a:visited, a:active {
    text-decoration: none;
    color: #02c3e7;
  }

  a:hover {
    text-decoration: none;
    color: #0296b1;
  }

}

/* Styles for Contact Us page. */
.contact-us-row {
  display: flex;
}

.contact-us-row-bottom {
  padding-bottom: 0px;
  margin-bottom: 0px;
  position: relative;
  top: 4px;
}

.contact-us-column {
  flex: 33.3333%
}

.contact-us-column-middle {
  flex-grow: 0;
  flex-shrink 0;
}

@media screen and (max-width: 600px) {
  .contact-us-column {
    display: none;
  }
}

.site-footer-wrapper {
  margin-top: 0px;
}

/* Styles for Flits Account Page */

.pb-flits-form-field {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  line-height: 2;
  text-indent: 5px;
  width: 240px;
  font-family: "Roboto", sans-serif;
}

.pb-flits-form-label {
  line-height: 2;
  text-indent: 5px;
  padding-left: 16px;
}

.pb-flits-form-password {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  line-height: 2;
  text-indent: 5px;
  width: 240px;
  font-family: "Roboto", sans-serif;
}

/* Styles for cart page */

.pb-net-checkout-address-dropdown {
  line-height:  2;
  text-indent: 5px;
  font-family: "Roboto", sans-serif;
  border-radius: 3px;
  padding: 15px;
  border: 1px solid #ddd;
  height: 36px;
}

.pb-cart-final-total {
  max-width: 320px;
}

/* ------------------------------- OVERRIDES ------------------------------- */

/* Product page: set min-height for product title; hide quantity selector and resize add to cart button; . */
h1.product-title {
    min-height: 66px;
}

.product-form--atc-qty.form-fields--qty {
    display: none;
}

button.product-form--atc-button.mdc-ripple-surface.mdc-ripple-upgraded {
    margin: 0;
    width: 100%;
}

/* Trustbox product review mini override */
#pb-product-mini {
  min-height: 24px;
  position: relative;
  left: -7px;
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */

/* Move media queries down to here before deploying to production. */
